@model WebShellAsp.Models.Command
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Web Shell</h1>
    <h2>Введите команду.</h2>
    <form asp-action="entercommand" asp-controller="home">
         <div class="form-group">
            <label class="control-label">Вывод команды</label>
            <input type="text" asp-for="CommandName" class="form-control" />
        </div>
    </form>
</div>
