@model WebShellAsp2.Models.Command
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="text-align:center; align-content:center; justify-content:center;">
    <h1 class="display-4">Web Shell</h1>
    <h2 style="margin-bottom:50px;">Введите команду.</h2>
    <form asp-action="EnterCommand" asp-controller="home" style="margin: 0 auto; width:250px; text-align:center; align-content:center; justify-content:center;">
         <div class="form-group">
            <label class="control-label">Вывод команды</label>
            <input type="text" asp-for="CommandName" class="form-control"/>
            <input type="text" asp-for="CommandEnter" class="form-control" style="margin-top:50px;"/>
            <input type="submit" value="Выполнить" class="btn btn-primary" role="button" style="margin-top: 50px;"/>
        </div>
    </form>
</div>
